/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$blue: #4DD3EB;
$lightBlue: #CCF7FF;
$purple: #7893FF;
$green: #56D374;
$grey: #A6A6A6;
$lightGrey: #9C9C9C;
$greyBackground: #DEDEDE;
$greyFooter: #D8D8D8;
