/* =============
    In-Line-Block
============= */
#in-line-block{
  background-color: $greyBackground;
  article{
    h2{
      color: $green;
      text-shadow: -1.5px -1.5px $black;
    }
    div{
      padding-bottom: 5px;
      p{
        padding-top: 20px;
        font-size: rem-calc(14);
        line-height: 19px;
      }
    }
  }
}
