/* =============
    In-Line
============= */
#in-line{
  background-color: $greyBackground;
  article{
    h2{
      color: $purple;
      text-shadow: -1.5px -1.5px $black;
      font-size: rem-calc(22);
      line-height: 30px;
    }
    div{
      p{
        font-size: rem-calc(14);
        line-height: 19px;
        padding-top: 20px;
      }
    }
  }
}
