/* =============
    In-Line-Block
============= */
#in-line-block{
  background-color: $greyBackground;
  article{
    h2{
      color: $green;
    }
  }
  img{
    background-color: $white;
    width: 100%;
  }
}
