/* =============
    In-Line-Block
============= */
#in-line-block {
  background-color: $greyBackground;

  article {
    h2 {
      color: $green;
      font-size: rem-calc(22);
      line-height: 28px;
      padding-top: 10px;
      text-shadow: -1.5px -1.5px $black;
    }

    div {
      padding-bottom: 15px;

      p {
        font-size: rem-calc(14);
        line-height: 19px;
        padding-top: 20px;
      }
    }
  }
}
